{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Django App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
</head>
<body>
    <h1>Welcome to Hell!</h1>
    {% if user.is_authenticated %}
        <p>You are logged in as <strong>{{ user.username }}</strong></p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Sign up</a></p>
    {% endif %}
</body>
</html>
